.filters {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.filters h3 {
    margin: 0;
    font-size: 14px;
}

.filters select {
    padding: 6px;
    font-size: 14px;
}
.tutorCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
    height: 140px;
    overflow: hidden;
}

.rating {
    color: gold;
    font-size: 18px;
}